* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #666999;
}

body {
	background-color: #434343;
	color: #f4f4ff;
	padding: 20px;
	width: 80%;
	margin: 0 auto;
	box-shadow: 10px -5px 5px 5px #444777, -10px -5px 5px 5px #444777;
}

#linkBox a, #linkBox a:visited {
	color: #bbbbff;
}

th, td {
	padding: 0px 10px;
}

#linkBox {
	display: flex;
}

#calendarBox {
	display: flex;
	justify-content: right;
}

body footer {
	clear: both;
	background-color: #808080;
	width: 100%;
	text-align: center;
}
