* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #666999;
}

body {
	background-color: #434343;
	color: #f4f4ff;
	padding: 20px;
	width: 80%;
	margin: 0 auto;
	box-shadow: 10px -5px 5px 5px #444777, -10px -5px 5px 5px #444777;
}

nav.container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: #999;
	padding: 10px;
}

nav a, nav a.visited {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	color: #333333;
}

nav a:hover {
	color: #ffffff;
}

#linkBox a, #linkBox a:visited {
	color: #bbbbff;
}

th, td {
	padding: 0px 10px;
}

#linkBox {
	display: flex;
}

#calendarBox {
	display: flex;
	justify-content: right;
}

body footer {
	clear: both;
	background-color: #808080;
	width: 100%;
	text-align: center;
}
